<h1> <%= @total %> Total Stores </h1>
<% @stores.each do |store| %>
<ul>
  <li>Name: <%= store.name %></li>
  <li>City: <%= store.city %></li>
  <li>Distance: <%= store.distance %></li>
  <li>Phone: <%= store.phone %></li>
  <li>Type: <%= store.type %></li>
</ul>
<% end %>
